<h1>Admin Invoices</h1>

<%= render 'shared/admin_nav' %><br>
<br>

<div class="btn-group-vertical">
  <% @invoices.each do |invoice| %>
      <section id="invoice-<%= invoice.id %>">
        <%= link_to "Invoice ##{invoice.id}", admin_invoice_path(id: invoice.id), class: "btn btn-primary" %>
      </section>
  <% end %>
</div>
