<h1>All Merchants</h1><br>

<div class="btn-group-vertical">
  <% @merchants.each do |merchant| %>
      <%= link_to merchant.name, merchant_dashboard_path(merchant_id: merchant.id), class: "btn btn-primary" %>
  <% end %>
</div>
